- name: Install Nginx
  apt:
    name: nginx
    state: present
    update_cache: yes

- name: Install Certbot
  apt:
    name:
      - certbot
      - python3-certbot-nginx
    state: present

- name: Render Nginx configuration dynamically
  template:
    src: service-nginx.conf.j2
    dest: /etc/nginx/sites-available/services.conf
    mode: '0644'
  notify: restart nginx

- name: Enable Nginx site
  file:
    src: /etc/nginx/sites-available/services.conf
    dest: /etc/nginx/sites-enabled/services.conf
    state: link
  notify: restart nginx

- name: Remove default Nginx site
  file:
    path: /etc/nginx/sites-enabled/default
    state: absent
  notify: restart nginx

- name: Start and enable Nginx
  systemd:
    name: nginx
    state: started
    enabled: yes
