---
# Secure & Reusable GCP Infrastructure Setup
# Usage:
# ansible-playbook -i localhost, create-and-setup-infrastructure.yml

- name: Create Secure GCP Infrastructure
  hosts: localhost
  connection: local
  gather_facts: no
  become: no
  vars_files:
    - ../../vars/gcp_vars.yml

  vars:
    ansible_python_interpreter: "/Users/macbookpro/Desktop/ansible-gcp-infrastructure/.venv/bin/python"

  tasks:

  # ==================================================
  # VALIDATION
  # ==================================================

    - name: Ensure GCP service account file exists
      stat:
        path: "{{ gcp_service_account_file }}"
      register: sa_file
      failed_when: not sa_file.stat.exists

  # ==================================================
  # NETWORK
  # ==================================================

    - name: Create VPC Network
      google.cloud.gcp_compute_network:
        name: "{{ network_name }}"
        auto_create_subnetworks: no
        project: "{{ gcp_project_id }}"
        auth_kind: serviceaccount
        service_account_file: "{{ gcp_service_account_file }}"
        state: present
      register: network

    - name: Create Subnet
      google.cloud.gcp_compute_subnetwork:
        name: "{{ subnet_name }}"
        region: "{{ gcp_region }}"
        network: "{{ network }}"
        ip_cidr_range: "{{ subnet_cidr }}"
        project: "{{ gcp_project_id }}"
        auth_kind: serviceaccount
        service_account_file: "{{ gcp_service_account_file }}"
        state: present
      register: subnet

  # ==================================================
  # FIREWALL
  # ==================================================

    - name: Allow SSH
      google.cloud.gcp_compute_firewall:
        name: "{{ network_name }}-allow-ssh"
        network: "{{ network }}"
        allowed:
          - ip_protocol: tcp
            ports: ["22"]
        source_ranges:
          - "0.0.0.0/0"
        project: "{{ gcp_project_id }}"
        auth_kind: serviceaccount
        service_account_file: "{{ gcp_service_account_file }}"
        state: present

    - name: Allow HTTP and HTTPS traffic
      google.cloud.gcp_compute_firewall:
        name: "{{ network_name }}-allow-web"
        network: "{{ network }}"
        allowed:
          - ip_protocol: tcp
            ports: ["80", "443"]
        target_tags:
          - http-server
          - https-server
        source_ranges:
          - "0.0.0.0/0"
        project: "{{ gcp_project_id }}"
        auth_kind: serviceaccount
        service_account_file: "{{ gcp_service_account_file }}"
        state: present

  # ==================================================
  # CREATE VMS
  # ==================================================

    - name: Read SSH public key
      slurp:
        src: "{{ ssh_public_key_file }}"
      register: ssh_key_content

    - name: Create machines
      google.cloud.gcp_compute_instance:
        name: "{{ item.name }}"
        machine_type: "{{ machine_type }}"
        zone: "{{ gcp_zone }}"
        project: "{{ gcp_project_id }}"
        auth_kind: serviceaccount
        service_account_file: "{{ gcp_service_account_file }}"

        disks:
          - auto_delete: true
            boot: true
            initialize_params:
              disk_size_gb: "{{ boot_disk_size }}"
              disk_type: "{{ boot_disk_type }}"
              source_image: "projects/{{ image_project }}/global/images/family/{{ image_family }}"

        network_interfaces:
          - network:
              name: "{{ network_name }}"
            subnetwork:
              name: "{{ subnet_name }}"
          # can be use with default network 
          # - network:
          #   selfLink: "projects/{{google_project_id}}/global/networks/default"
            access_configs:
              - name: External NAT
                type: ONE_TO_ONE_NAT

        metadata:
          ssh-keys: "{{ ssh_user }}:{{ ssh_key_content.content | b64decode }}"
          block-project-ssh-keys: "true"

        tags:
          items:
            - http-server
            - https-server

        state: present

      loop: "{{ machines }}"
      loop_control:
        label: "{{ item.name }}"
      register: created_machines

    - name: Write gcp_instance into json file
      copy:
        content: "{{ created_machines }}"
        dest: "../gcp_instance.json"
      when: true 

    - name: Create inventory from template 
      template: 
        src: ../../templates/inventory.j2
        dest: ../../inventory.ini
      when: true  
  # ==================================================
  # WAIT FOR SSH
  # ==================================================

    - name: Wait for SSH
      wait_for:
        host: "{{ item }}"
        port: 22
        delay: 10
        timeout: 300
      loop: "{{ created_machines.results
        | map(attribute='networkInterfaces')
        | map('first')
        | map(attribute='accessConfigs')
        | map('first')
        | map(attribute='natIP')
        | list }}"

  # ==================================================
  # OUTPUT INFO
  # ==================================================

    - name: Display VM info
      debug:
        msg: |
          Infrastructure Created Successfully!

          {% for machine, result in machines|zip(created_machines.results) %}
          {{ machine.name }}
            Internal IP: {{ result.networkInterfaces[0].networkIP }}
            External IP: {{ result.networkInterfaces[0].accessConfigs[0].natIP }}
            SSH: ssh {{ ssh_user }}@{{ result.networkInterfaces[0].accessConfigs[0].natIP }}
            Domain: {{ machine.domains[0] }}

          {% endfor %}
