# Create Secure GCP Infrastructure
- name: Create Secure GCP Infrastructure
  hosts: localhost
  connection: local
  gather_facts: no
  become: no
  vars_files:
    - ../../vars/gcp_vars.yml

  tasks:
    # ==================================================
    # VALIDATION
    # ==================================================
    - name: Ensure GCP service account file exists
      stat:
        path: "{{ gcp_service_account_file }}"
      register: sa_file
      failed_when: not sa_file.stat.exists

    # ==================================================
    # NETWORK / FIREWALL
    # ==================================================
    - name: Create VPC Network
      google.cloud.gcp_compute_network:
        name: "{{ network_name }}"
        auto_create_subnetworks: no
        project: "{{ gcp_project_id }}"
        auth_kind: serviceaccount
        service_account_file: "{{ gcp_service_account_file }}"
        state: present
      register: network

    - name: Create Subnet
      google.cloud.gcp_compute_subnetwork:
        name: "{{ subnet_name }}"
        region: "{{ gcp_region }}"
        network: "{{ network_name }}"
        ip_cidr_range: "{{ subnet_cidr }}"
        project: "{{ gcp_project_id }}"
        auth_kind: serviceaccount
        service_account_file: "{{ gcp_service_account_file }}"
        state: present

    - name: Allow SSH
      google.cloud.gcp_compute_firewall:
        name: "{{ network_name }}-allow-ssh"
        network: "{{ network }}"
        allowed:
          - ip_protocol: tcp
            ports: ["22"]
        source_ranges: ["0.0.0.0/0"]
        project: "{{ gcp_project_id }}"
        auth_kind: serviceaccount
        service_account_file: "{{ gcp_service_account_file }}"
        state: present

    - name: Allow HTTP/HTTPS
      google.cloud.gcp_compute_firewall:
        name: "{{ network_name }}-allow-web"
        network: "{{ network }}"
        allowed:
          - ip_protocol: tcp
            ports: ["80", "443"]
        target_tags: ["http-server","https-server"]
        source_ranges: ["0.0.0.0/0"]
        project: "{{ gcp_project_id }}"
        auth_kind: serviceaccount
        service_account_file: "{{ gcp_service_account_file }}"
        state: present

    # ==================================================
    # CREATE VMS
    # ==================================================
    - name: Read SSH public key
      slurp:
        src: "{{ ssh_public_key_file }}"
      register: ssh_key_content

    - name: Create machines
      google.cloud.gcp_compute_instance:
        name: "{{ item.name }}"
        machine_type: "{{ machine_type }}"
        zone: "{{ gcp_zone }}"
        project: "{{ gcp_project_id }}"
        auth_kind: serviceaccount
        service_account_file: "{{ gcp_service_account_file }}"

        disks:
          - auto_delete: true
            boot: true
            initialize_params:
              disk_size_gb: "{{ boot_disk_size }}"
              disk_type: "{{ boot_disk_type }}"
              source_image: "projects/{{ image_project }}/global/images/family/{{ image_family }}"

        network_interfaces:
          - network:
              name: "{{ network_name }}"
            subnetwork:
              name: "{{ subnet_name }}"
          # can be use with default network 
          # - network:
          #   selfLink: "projects/{{google_project_id}}/global/networks/default"
            access_configs:
              - name: External NAT
                type: ONE_TO_ONE_NAT

        metadata:
          ssh-keys: "{{ ssh_user }}:{{ ssh_key_content.content | b64decode }}"
          block-project-ssh-keys: "true"

        tags:
          items:
            - http-server
            - https-server

        state: present

      loop: "{{ machines }}"
      loop_control:
        label: "{{ item.name }}"
      register: created_machines

    # ==================================================
    # WAIT FOR SSH
    # ==================================================
    - name: Wait for SSH
      wait_for:
        host: "{{ item.networkInterfaces[0].accessConfigs[0].natIP }}"
        port: 22
        delay: 10
        timeout: 300
      loop: "{{ created_machines.results }}"
      loop_control:
        label: "{{ item.name }}"

    # ==================================================
    # ADD HOSTS TO DYNAMIC INVENTORY
    # ==================================================
    - name: Create inventory from template 
      template: 
        src: ../../templates/inventory.j2
        dest: ../../inventory.ini
      when: true  

    - name: Add machines dynamically to inventory
      add_host:
        name: "{{ item.0.name }}"   
        groups: "{{ item.0.host }}"
        ansible_user: "{{ ssh_user }}"
        ansible_host: "{{ item.1.networkInterfaces[0].accessConfigs[0].natIP }}" 
        ansible_ssh_private_key_file: "{{ ssh_private_key_file }}"
        ansible_python_interpreter: /usr/bin/python3.10
      loop: "{{ machines | zip(created_machines.results) | list }}"
      loop_control:
        label: "{{ item.0.name }}"

    # ==================================================
    # DISPLAY VM INFO
    # ==================================================
    - name: Show VM info
      debug:
        msg: |
          {% for machine, result in machines|zip(created_machines.results) %}
          {{ machine.name }}
            Internal IP: {{ result.networkInterfaces[0].networkIP }}
            External IP: {{ result.networkInterfaces[0].accessConfigs[0].natIP }}
            SSH: ssh ubuntu@{{ result.networkInterfaces[0].accessConfigs[0].natIP }}
            Domain: {{ machine.domains[0] }}
          {% endfor %}