---
# Main playbook to setup the entire infrastructure
# Usage: ansible-playbook -i inventory.ini setup-infrastructure.yml

- name: Setup Machine01 - Jenkins Server
  hosts: jenkins_group
  become: yes
  gather_facts: yes
  vars_files:
    - ../../vars/gcp_vars.yml

  tasks:
    - name: Display setup information
      debug:
        msg: "Setting up Jenkins server on {{ inventory_hostname }}"

  roles:
    - common
    - docker
    - ohmyzsh
    - portainer
    - jenkins
    - nginx

- name: Setup Machine02 - SonarQube Server
  hosts: sonarqube_group
  become: yes
  gather_facts: yes
  vars_files:
    - ../../vars/gcp_vars.yml

  roles:
    - common
    - docker
    - sonarqube
    - portainer
    - nginx

- name: Setup Machine03 - Nexus Repository
  hosts: nexus_group
  become: yes
  gather_facts: yes
  vars_files:
    - ../../vars/gcp_vars.yml

  roles:
    - common
    - docker
    - ohmyzsh
    - portainer
    - nexus
    - nginx

# ========================
# Infrastructure Setup Complete
# ========================
- name: Infrastructure Setup Complete
  hosts: localhost
  gather_facts: no
  vars_files:
    - ../../vars/gcp_vars.yml

  tasks:
    - name: Display completion message
      debug:
        msg: |
          Infrastructure setup complete!

          Access your services at:
          - Jenkins: https://{{ machines[0].domains[0] }}
          - SonarQube: https://{{ machines[1].domains[0] }}
          - Nexus: https://{{ machines[2].domains[0] }}

          Note: Configure your DNS and SSL certificates accordingly.
