- name: Create DNS records in Cloudflare
  hosts: localhost
  gather_facts: no
  become: true
  connection: local
  vars_files:
    - ../../vars/cloudflare_vars.yml
    - ../../vars/secrets.yml
    - ../../vars/gcp_vars.yml

  tasks:
    - name: Create DNS records dynamically
      community.general.cloudflare_dns:
        zone: "{{ cloudflare_zone }}"
        record: "{{ item.domains[0].split('.')[0] }}" # Use the first part of the domain as record
        type: "A"
        value: "{{ item.natIP }}"
        ttl: 120
        proxied: false
        api_token: "{{ cloudflare_api_token }}"
      loop: >
        {%- set result_list = [] -%}
        {%- for machine, gcp_result in machines|zip(created_machines.results) -%}
        {%- set _ = machine.update({'natIP': gcp_result.networkInterfaces[0].accessConfigs[0].natIP}) -%}
        {%- set _ = result_list.append(machine) -%}
        {%- endfor -%}
        {{ result_list }}
      loop_control:
        label: "{{ item.name }}"
