- name: Setup SSL Certificates on all servers
  hosts: jenkins_group,sonarqube_group,nexus_group
  become: yes
  gather_facts: yes
  vars_files:
    - ../vars/gcp_vars.yml

  tasks:
    - name: Obtain SSL certificate via Certbot
      command: >
        certbot --nginx
        -d {{ item.domains | join(' -d ') }}
        --non-interactive
        --agree-tos
        --email {{ admin_email }}
        --redirect
      loop: "{{ machines }}"
      when: inventory_hostname in groups[item.host]
      register: certbot_result
      changed_when: "certbot_result.stdout is defined and 'Successfully received certificate' in certbot_result.stdout"
      failed_when:
        - certbot_result.rc is defined
        - certbot_result.rc != 0
        - "'Certificate not yet due for renewal' not in certbot_result.stdout"

    - name: Reload Nginx
      systemd:
        name: nginx
        state: reloaded

# - name: Test certificate auto-renewal
#   hosts: jenkins_group,sonarqube_group,nexus_group
#   become: yes
#   gather_facts: no
#   tasks:
#     - name: Test certbot renewal
#       command: certbot renew --dry-run
#       changed_when: false

- name: SSL Setup Complete
  hosts: localhost
  connection: local
  gather_facts: no
  vars_files:
    - ../vars/gcp_vars.yml
  tasks:
    - name: Display completion message
      debug:
        msg: |
          SSL certificates have been successfully configured!
          - Jenkins: https://{{ machines[0].domains[0] }}
          - SonarQube: https://{{ machines[1].domains[0] }}
          - Nexus: https://{{ machines[2].domains[0] }}
          Certificates will automatically renew before expiration.