- name: Create DNS records in Cloudflare
  hosts: localhost
  gather_facts: no
  become: true
  connection: local
  vars:
    jenkins_ip: "{{ machine01.networkInterfaces[0].accessConfigs[0].natIP }}"
    sonarqube_ip: "{{ machine02.networkInterfaces[0].accessConfigs[0].natIP }}"
    nexus_ip: "{{ machine03.networkInterfaces[0].accessConfigs[0].natIP }}"
  vars_files:
    - ../vars/cloudflare_vars.yml
    - ../vars/secrets.yml

  tasks:
    - name: Create Jenkins DNS record
      community.general.cloudflare_dns:
        zone: "{{ cloudflare_zone }}"
        record: "jenkins"
        type: "A"
        value: "{{ jenkins_ip }}"
        ttl: 120
        proxied: false
        api_token: "{{ cloudflare_api_token }}"

    - name: Create SonarQube DNS record
      community.general.cloudflare_dns:
        zone: "{{ cloudflare_zone }}"
        record: "sonar"
        type: "A"
        value: "{{ sonarqube_ip }}"
        ttl: 120
        proxied: false
        api_token: "{{ cloudflare_api_token }}"

    - name: Create Nexus DNS record
      community.general.cloudflare_dns:
        zone: "{{ cloudflare_zone }}"
        record: "nexus"
        type: "A"
        value: "{{ nexus_ip }}"
        ttl: 120
        proxied: false
        api_token: "{{ cloudflare_api_token }}"
